*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.container{
    width: 1320px;
    margin: 0 auto;
}

li{
    list-style: none;

}
a{
    display: inline-block;
    text-decoration: none;
}

/* flag_1_bangladesh css start */

/* .main{
    width:800px;
    height:400px;
    background-color: green;
    margin: auto;
    position: relative;
}

.flag{
    width: 700px;
    height: 400px;
    background-color: yellow;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

}

.circle{
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

.tan{
    width: 100px;
    height: 100px;
    background-color:white ;
    clip-path: polygon(34% 25%, 70% 36%, 100% 44%, 100% 64%, 68% 51%, 31% 41%, 0 39%, 0 24%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

.bar{
    height: 800px;
    width: 20px;
    background-color: black;
    position: relative;
}

.squre{
    width: 100px;
    height: 100px;
    clip-path: polygon(35% 0, 64% 0, 100% 100%, 0% 100%);
    background-color: red;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translatex(-50%);
} */

/* flag_1_bangladesh css end */





/* flag_2_brazil css start */

/* body{
    background-color: rgba(0, 0, 0, 0.885);
}
.main{
    height: 600px;
    width: 800px;
    background-color: red;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.shape1{
    width: 50%;
    height: 100%;
    background-color: red;
    position: absolute;
    z-index: 9;
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 0 5%, 100% 100%, 0% 100%);

}
.shape2{
    width: 50%;
    height: 100%;
    background-color: red;
    position: absolute;
    z-index: 9;
    right: 0;
    top: 0;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);

}

.one{
    height: 230px;
    background-color: black;
    position: relative;
}

img{
    height: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    
    

}
.two{
    height: 140px;
    background-color:lightblue ;
    position: relative;
    z-index: 2; 
}
.three{
    height: 230px;
    background-color: white;
    position: relative;
    z-index: 3;
} */

/* flag_2_brazil css end */





/* flag_3_cuba css start */

/* .main{
    width: 900px;
    height: 500px;
    background-color: red;
    margin: auto;
    margin-top: 100px;
    position: relative;
}

.triangle{
    height: 100%;
    width: 50%;
    background-color: red;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
    position: absolute;
    left : 0;
    top: 0;
}

.star{
    width: 200px;
    height: 200px;
    background-color:yellow;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-30% , -50%);
}

.part1{
    height: 100px;
    background-color:blue;
}
.part2{
    height: 100px;
    background-color:white;
}
.part3{
    height: 100px;
    background-color:blue;
}
.part4{
    height: 100px;
    background-color:white;
}
.part5{
    height: 100px;
    background-color:blue;
} */

/* flag_3_cuba css end */




/* menu start */

.main{
    display: flex;
    align-items: center;
}

.logo{
    width: 20%;
}
.logo img{
    height: 100px;
}

.link{
    width: 80%;
}

.link ul{
    display: flex;
    justify-content: flex-end;
}

.link li{
    margin-left:30px;
}



/* menu end */


